@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio crack</h1>
    <p>Aprender más sobre<a href="https://docs.microsoft.com/aspnet/core">GitHub</a>.</p>
</div>
